option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-north-1:603319527322:certificate/c8315bd2-fb2b-4de7-bdca-2dd4c9a8f37c
    SSLPolicy: ELBSecurityPolicy-2016-08
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'