{% extends 'base.html' %}

{% load static %}

{% block title %}Contact - Portfolio{% endblock title %}

{% block content %}
<section class="contact-section center-column">
    <h2>It's Nice to Meet You!</h2>
    <p>If you would like to make contact, please feel free to drop me a line below!</p>

 <!-- Display messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <!-- Contact Section -->
    <section id="contact" class="contact-section center">
        <h2>Contact Me</h2>
        <form class="contact-form" action="{% url 'contact2' %}" method="POST">
            {% csrf_token %}
            {{ form.as_table}}
            <div>
                <button type="submit">Send</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </section>
</section>
{% endblock content %}
