{% extends 'base.html' %}
{% load static %}

{% block title %}Experience - Portfolio{% endblock title %}

{% block content %}
<section class="experience-section center-column">
    <h2>Experience</h2>

    <div class="experience-list">
        {% for exp in experiences %}
        <div class="experience-card">
            <p>{{ exp.company }}</p>
            <p>{{ exp.position }}</p>
            <p>{{ exp.description }}</p>
            <p>{{ exp.start_date }} - {% if exp.end_date %}{{ exp.end_date }}{% else %}Present{% endif %}</p>
            <p>{{ exp.location }}</p>

            {% if exp.skills.all %}
            <div class="skills-container center">
                {% for skill in exp.skills.all %}
                <label class="text-label">{{ skill.name }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>


{% endblock content %}
