{% extends 'base.html' %}
{% load static %}

{% block title %}Experience - Portfolio{% endblock title %}

{% block content %}
<section class="experience-section center-column">
        <h2>Experience</h2>

        <div class="experience-list">

            <div class="experience-card">
                <p>JJIT Professional Consulting</p>
                <p>Sr. Computer Systems Web Designer/Engineer</p>
                <p>Facilitates customer business operations through strategic planning, design, integration, implementation, maintenance, and operation of enterprise applications and systems.
                </p>
                <p>Jan 2023 - Present</p>
                <p>Chester, Virginia / Remote</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>

            <div class="experience-card">
                <p>AIS / Xgility</p>
                <p>Senior Computer Systems Applications Analyst</p>
                <p>Full-time - 40hrs. Sr. applications Analyst responsible for conducting in-depth tests, analyzing information and trends in the data to increase an application's efficiency. Coordinated a team of highly talented developers and mission analysts to assist business leaders in understanding how the applications best serve the organization. Responsible for data management of database and applications.
                </p>
                <p>Feb 2021 - Dec 2022</p>
                <p>Wiesbaden, Germany</p>


                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>

            <div class="experience-card">
                <p>Dyncorp International</p>
                <p>Sr. Field Support Engineer</p>
                <p>Full-time - 40hrs. Engineering Team FSE, successfully investigating network, database/data flow, software, and infrastructure issues. Administered/maintained/troubleshot data systems. Responsible for data management of all databases and applications. Responsible for all SharePoint engineering, maintenance, sites and webparts.
                </p>
                <p>Jun 2020 - Feb 2021</p>
                <p>Wiesbaden, Germany</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>

            <div class="experience-card">
                <p>General Dynamics Information Technology (GDIT)</p>
                <p>Sr. Systems Engineer</p>
                <p>Full-time - 40hrs. Sr. Systems Engineer responsible for problem management engineering during operations. Led planning and evaluation through teamwork. Managed support and operations for the implementation of applications software and hardware analysis, coordinating testing, modification, and functionality upgrades to customer applications.
                </p>
                <p>Apr 2018 - Jun 2020</p>
                <p>Wiesbaden, Germany</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>

            <div class="experience-card">
                <p>Leidos International Corporation</p>
                <p>Sr. Field Support Engineer</p>
                <p>Full-time - 40hrs. Field Support Engineer supplying problem management engineering during operations. Led planning and evaluation, and managing support. Led operations through teamwork for the implementation of applications, software analysis, and hardware analysis. Coordinated testing, modification, and functionality upgrades to customer applications. Data management of database and applications.
                </p>
                <p>Jun 2016 - Apr 2018</p>
                <p>Wiesbaden, Germany</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>

            <div class="experience-card">
                <p>CACI International</p>
                <p>Software Development Engineer</p>
                <p>Full-time - 40hrs. Design / Engineering of all SharePoint sites and web parts connecting to external data as required. Develops technical solutions for viewing page/site items according to the users' access. Works with clients/customers to assess their needs, provide information or assistance, resolve problems, or satisfy/exceed expectations.
                </p>
                <p>Mar 2015 - Jun 2016</p>
                <p>Wiesbaden, Germany</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>

            <div class="experience-card">
                <p>Mantech International Corporation</p>
                <p>Sr. Principal Engineer</p>
                <p>Full-time - 40hrs. Led the Problem Management Engineering Team, responsible for solving the network/ infrastructures' most difficult issues. Lead database (SQL) engineer. Administered all infrastructure servers, including building and configuring enterprise servers. Windows, Linux, SMS, Active Directory, Anti-virus, DC's, Exchange, backup, Web Design, and data management of database and applications.
                </p>
                <p>May 2004 - Mar 2015</p>
                <p>Washington, DC - Wiesbaden, Germany</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>
            </div>
        </div>

    </section>

    <!--<section class="experience-section center-column"-->
    <section class="experience-section center-column">
        <h2>Education</h2>

        <div class="experience-list">

            <div class="experience-card">
                <p>Name of the school</p>
                <p>Course name</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the school</p>
                <p>Course name</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the school</p>
                <p>Course name</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the school</p>
                <p>Course name</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the school</p>
                <p>Course name</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

        </div>

    </section>
    <section class="experience-section center-column">
        <h2>Certifications</h2>

        <div class="experience-list">

            <div class="experience-card">
                <p>Name of the certification authority</p>
                <p>Certification name</p>
                <p>A short description about the about the job position or educational program.</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the certification authority</p>
                <p>Certification name</p>
                <p>A short description about the about the job position or educational program.</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the certification authority</p>
                <p>Certification name</p>
                <p>A short description about the about the job position or educational program.</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

            <div class="experience-card">
                <p>Name of the certification authority</p>
                <p>Certification name</p>
                <p>A short description about the about the job position or educational program.</p>
                <p>Month YYYY - Month YYYY</p>

                <div class="skills-container center">
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                    <label class="text-label">Skill</label>
                </div>

            </div>

        </div>

    </section>
{% endblock content %}
