footer {
    height: 5rem;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid 2px var(--secondary-color);
    background-color: #008000;
    position: fixed;
}

footer h2 {
    color: #d6AA80;
    font-size: 1.5rem;
}

footer p {
    color: #d6AA80;
    font-size: 1rem;
}

footer nav {
    width: max-content;
}

footer nav a {
    color: var(--background-color);
    margin: 0px 1rem;
    height: 2rem;
}

footer nav a:hover {
    border-bottom: solid 3px var(--primary-color);
}